@import url('https://rsms.me/inter/inter.css');

.feed-container {
    position: relative;
    display: flex;
    flex-flow: column;
    width: auto;
    height: 100vh;

    scroll-snap-type: y mandatory;
    overflow: scroll;
}

.post-container {
    position: relative;
    display: flex;
    width: auto;
    min-height: 100vh;
    scroll-snap-align: start;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Ilm-Saale-Platte_bei_Paulinzella.JPG/1200px-Ilm-Saale-Platte_bei_Paulinzella.JPG");
}